In [22]:
import pandas as pd
import csv
import numpy as np
import math
import time
import matplotlib.pyplot as plt

import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import train_test_split
from sklearn import svm
from sklearn.svm import SVC
from sklearn import linear_model
from sklearn import tree
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import classification_report
from sklearn.svm import LinearSVC


from keras.models import Sequential

from pprint import pprint

In [23]:
Collin_STATS = pd.read_csv('STATS.csv')
Collin_STATS.head()

,team,w_l,wins,losses,win_loss_pct,offensive_opp_pts,offensive_opp_ppg,defensive_opp_pts,defensive_opp_ppg,total_field_goals_made,...,total_assists,total_turnovers,turnover_ratio,total_blocks,total_block_pct,total_rebounds,average_rebounds,total_opp_rebounds,average_opp_rebounds,reb_margin
0,Incarnate Word,24-Jun,6,24,20.0,1992,66.4,2274,75.8,691,...,345,487,0.71,51,1.7,822,27.4,930,31.0,-3.6
1,Hofstra,25-6,25,6,80.6,2613,84.3,2246,72.5,896,...,447,304,1.47,102,3.3,1038,33.5,1006,32.5,1.0
2,Central Conn. St.,20-Nov,11,20,35.5,2205,71.1,2367,76.4,754,...,353,427,0.83,110,3.5,1108,35.7,1103,35.6,0.2
3,Hampton,15-16,15,16,48.4,2531,81.6,2380,76.8,860,...,435,334,1.30,110,3.5,1194,38.5,1184,38.2,0.3
4,South Dakota St.,24-7,24,7,77.4,2640,85.2,2267,73.1,930,...,466,365,1.28,58,1.9,1183,38.2,1026,33.1,5.1

In [24]:
pprint(Collin_STATS.columns)

Index(['team', 'w_l', 'wins', 'losses', 'win_loss_pct', 'offensive_opp_pts',
       'offensive_opp_ppg', 'defensive_opp_pts', 'defensive_opp_ppg',
       'total_field_goals_made', 'total_field_goals_att',
       'total_field_goals_pct', 'total_three_points_made',
       'total_three_points_att', 'total_three_points_pct',
       'total_free_throws_made', 'total_free_throw_att',
       'total_free_throw_pct', 'total_steals', 'steal_pct', 'total_assists',
       'total_turnovers', 'turnover_ratio', 'total_blocks', 'total_block_pct',
       'total_rebounds', 'average_rebounds', 'total_opp_rebounds',
       'average_opp_rebounds', 'reb_margin'],
      dtype='object')

In [52]:
Season_2017_2018 = pd.read_csv('2017-2018_regular_season_with_seeding_and_coach.csv')
teams2017 = Season_2017_2018['team_market'].tolist()
Season_2017_2018.head()

,Seed,team_market,team_name,team_id,total_games_played,total_minutes_played,total_field_goals_made,total_field_goals_att,total_field_goals_pct,total_two_points_made,...,average_efficiency,average_true_shooting_att,Currentcoach,Month,Year,Since,M_D_DOB,Sign,ChineseZodiac,Age
0,S4,Arizona,Wildcats,9b166a3f-e64b-4825-bb6b-92c6f0418263,35,7100.0,1009,2003,1361,772,...,93.97,66.54,Sean Miller,11,1968,2009â€“10,1117,Scorpio,Monkey,51
1,E12,Murray State,Racers,77a69fb0-1355-4342-ac09-b4cc7949d95e,32,6400.0,870,1803,1084,599,...,90.63,65.79,Matt McMahon,4,1978,2015â€“16,426,Taurus,Horse,41
2,S11,Loyola (IL),Ramblers,61a3908a-7492-4b6f-809e-12c61976bb0a,38,7600.0,995,1963,1263,718,...,83.11,58.91,Porter Moser,8,1968,2011â€“12,824,Virgo,Monkey,51
3,S10,Texas,Longhorns,6ed15092-2670-450a-99c2-61d861e87644,34,7050.0,882,2010,1244,637,...,76.74,67.70,Shaka Smart,4,1977,2015â€“16,408,Aries,Snake,42
4,M10,Oklahoma,Sooners,b2fda957-e15c-4fb2-8a13-6e58496f561e,32,6475.0,954,2062,1226,654,...,93.44,73.84,Lon Kruger,8,1952,2011â€“12,819,Leo,Dragon,67

In [26]:
pprint(Season_2017_2018.columns)

Index(['Seed', 'team_market', 'team_name', 'team_id', 'total_games_played',
       'total_minutes_played', 'total_field_goals_made',
       'total_field_goals_att', 'total_field_goals_pct',
       'total_two_points_made', 'total_two_points_att', 'total_two_points_pct',
       'total_three_points_made', 'total_three_points_att',
       'total_three_points_pct', 'total_blocked_att', 'total_free_throws_made',
       'total_free_throws_att', 'total_free_throws_pct',
       'total_offensive_rebounds', 'total_defensive_rebounds',
       'total_rebounds', 'total_assists', 'total_turnovers',
       'total_assists_turnover_ratio', 'total_steals', 'total_blocks',
       'total_personal_fouls', 'total_tech_fouls', 'total_points',
       'total_fast_break_pts', 'total_flagrant_fouls',
       'total_points_off_turnovers', 'total_second_chance_pts',
       'total_ejections', 'total_foulouts', 'total_points_in_paint',
       'total_efficiency', 'total_true_shooting_att',
       'total_true_shooting_pct', 'average_fast_break_pts',
       'average_points_off_turnovers', 'average_second_chance_pts',
       'average_minutes', 'average_points', 'average_off_rebounds',
       'average_def_rebounds', 'average_rebounds', 'average_assists',
       'average_steals', 'average_blocks', 'average_turnovers',
       'average_personal_fouls', 'average_flagrant_fouls',
       'average_blocked_att', 'average_field_goals_made',
       'average_field_goals_att', 'average_three_points_made',
       'average_three_points_att', 'average_free_throws_made',
       'average_free_throws_att', 'average_two_points_made',
       'average_two_points_att', 'average_points_in_paint',
       'average_efficiency', 'average_true_shooting_att', 'Currentcoach',
       'Month', 'Year', 'Since', 'M_D_DOB', 'Sign', 'ChineseZodiac', 'Age'],
      dtype='object')

In [60]:
Season_2018_2019 = pd.read_csv('2018-2019_Reg_Season_with_coach_using_2018_tournament_seeding.csv')
teams2018 = Season_2018_2019['team_market'].tolist()
Season_2018_2019.head()

,Seed,team_market,team_name,team_id,total_games_played,total_minutes_played,total_field_goals_made,total_field_goals_att,total_field_goals_pct,total_two_points_made,...,average_efficiency,average_true_shooting_att,Currentcoach,Month,Year,Since,M_D_DOB,Sign,ChineseZodiac,Age
0,S4,Arizona,Wildcats,9b166a3f-e64b-4825-bb6b-92c6f0418263,31,6250.0,771,1804,1127,541,...,71.97,66.72,Sean Miller,11,1968,2009â€“10,1117,Scorpio,Monkey,51
1,E12,Murray State,Racers,77a69fb0-1355-4342-ac09-b4cc7949d95e,31,6200.0,938,1890,1195,696,...,101.06,69.90,Matt McMahon,4,1978,2015â€“16,426,Taurus,Horse,41
2,S11,Loyola (IL),Ramblers,61a3908a-7492-4b6f-809e-12c61976bb0a,33,6600.0,805,1632,1083,604,...,73.55,56.64,Porter Moser,8,1968,2011â€“12,824,Virgo,Monkey,51
3,S10,Texas,Longhorns,6ed15092-2670-450a-99c2-61d861e87644,31,6250.0,781,1793,1019,517,...,77.00,65.42,Shaka Smart,4,1977,2015â€“16,408,Aries,Snake,42
4,M10,Oklahoma,Sooners,b2fda957-e15c-4fb2-8a13-6e58496f561e,31,6225.0,802,1802,1195,594,...,76.16,66.26,Lon Kruger,8,1952,2011â€“12,819,Leo,Dragon,67

In [28]:
pprint(Season_2018_2019.columns)

Index(['Seed', 'team_market', 'team_name', 'team_id', 'total_games_played',
       'total_minutes_played', 'total_field_goals_made',
       'total_field_goals_att', 'total_field_goals_pct',
       'total_two_points_made', 'total_two_points_att', 'total_two_points_pct',
       'total_three_points_made', 'total_three_points_att',
       'total_three_points_pct', 'total_blocked_att', 'total_free_throws_made',
       'total_free_throws_att', 'total_free_throws_pct',
       'total_offensive_rebounds', 'total_defensive_rebounds',
       'total_rebounds', 'total_assists', 'total_turnovers',
       'total_assists_turnover_ratio', 'total_steals', 'total_blocks',
       'total_personal_fouls', 'total_tech_fouls', 'total_points',
       'total_fast_break_pts', 'total_flagrant_fouls',
       'total_points_off_turnovers', 'total_second_chance_pts',
       'total_ejections', 'total_foulouts', 'total_points_in_paint',
       'total_efficiency', 'total_true_shooting_att',
       'total_true_shooting_pct', 'average_fast_break_pts',
       'average_points_off_turnovers', 'average_second_chance_pts',
       'average_minutes', 'average_points', 'average_off_rebounds',
       'average_def_rebounds', 'average_rebounds', 'average_assists',
       'average_steals', 'average_blocks', 'average_turnovers',
       'average_personal_fouls', 'average_flagrant_fouls',
       'average_blocked_att', 'average_field_goals_made',
       'average_field_goals_att', 'average_three_points_made',
       'average_three_points_att', 'average_free_throws_made',
       'average_free_throws_att', 'average_two_points_made',
       'average_two_points_att', 'average_points_in_paint',
       'average_efficiency', 'average_true_shooting_att', 'Currentcoach',
       'Month', 'Year', 'Since', 'M_D_DOB', 'Sign', 'ChineseZodiac', 'Age'],
      dtype='object')

In [53]:
pprint(teams2017)

['Arizona',
 'Murray State',
 'Loyola (IL)',
 'Texas',
 'Oklahoma',
 'Kansas State',
 'West Virginia',
 'TCU',
 'Texas Tech',
 'Kansas',
 'Georgia State',
 'Montana',
 'Houston',
 'Cincinnati',
 'Wichita State',
 'UNC Greensboro',
 'South Dakota State',
 'Cal State Fullerton',
 'Marshall',
 'New Mexico State',
 'Stephen F. Austin',
 'Texas Southern',
 'Virginia Tech',
 'North Carolina State',
 'Virginia',
 'Miami (FL)',
 'Syracuse',
 'Florida State',
 'Clemson',
 'North Carolina',
 'Duke',
 'Lipscomb',
 'Bucknell',
 'Radford',
 'Wright State',
 'Nevada',
 'San Diego State',
 'Auburn',
 'Kentucky',
 'Missouri',
 'Florida',
 'Tennessee',
 'Alabama',
 'Arkansas',
 'Texas A&M',
 'Buffalo',
 'Purdue',
 'Ohio State',
 'Michigan State',
 'Michigan',
 'UMBC',
 'Pennsylvania',
 'Charleston',
 'Gonzaga',
 'Xavier',
 'Villanova',
 'Providence',
 'Creighton',
 'Seton Hall',
 'Butler',
 'St. Bonaventure',
 'Davidson',
 'Rhode Island',
 'Iona']

In [54]:
pprint(teams2018)

['Arizona',
 'Murray State',
 'Loyola (IL)',
 'Texas',
 'Oklahoma',
 'Kansas State',
 'West Virginia',
 'TCU',
 'Texas Tech',
 'Kansas',
 'Georgia State',
 'Montana',
 'Houston',
 'Cincinnati',
 'Wichita State',
 'UNC Greensboro',
 'South Dakota State',
 'Cal State Fullerton',
 'Marshall',
 'New Mexico State',
 'Stephen F. Austin',
 'Texas Southern',
 'Virginia Tech',
 'North Carolina State',
 'Virginia',
 'Miami (FL)',
 'Syracuse',
 'Florida State',
 'Clemson',
 'North Carolina',
 'Duke',
 'Lipscomb',
 'Bucknell',
 'Radford',
 'Wright State',
 'Nevada',
 'San Diego State',
 'Auburn',
 'Kentucky',
 'Missouri',
 'Florida',
 'Tennessee',
 'Alabama',
 'Arkansas',
 'Texas A&M',
 'Buffalo',
 'Purdue',
 'Ohio State',
 'Michigan State',
 'Michigan',
 'UMBC',
 'Pennsylvania',
 'Charleston',
 'Gonzaga',
 'Xavier',
 'Villanova',
 'Providence',
 'Creighton',
 'Seton Hall',
 'Butler',
 'St. Bonaventure',
 'Davidson',
 'Rhode Island',
 'Iona']

In [55]:
E_2017 = ["Villanova", "Butler", "St. Bonaventure", "Murray State", "Marshall", "Stephen F. Austin", "Cal State Fullerton", 
         "Radford", "Purdue", "Texas Tech", "Wichita State", "West Virginia", "Florida", "Arkansas", "Virginia Tech", "Alabama"]

S_2017 = ["Virginia", "Texas", "Loyola (IL)", "Davidson", "Buffalo", "Wright State", "Georgia State", "UMBC", "Cincinnati", "Tennessee", 
          "Arizona", "Kentucky", "Miami (FL)", "Nevada", "Creighton", "Kansas State"]

M_2017 = ["Kansas", "Oklahoma", "Syracuse", "New Mexico State", "Charleston", "Bucknell", "Iona", "Pennsylvania", "Duke", 
          "Michigan State", "Auburn", "Clemson", "TCU", "Rhode Island", "Seton Hall", "North Carolina State"]

W_2017 = ["Xavier", "Providence", "San Diego State", "South Dakota State", "UNC Greensboro", "Montana", "Lipscomb", "Texas Southern", 
          "North Carolina", "Michigan", "Gonzaga", "Ohio State", "Houston", "Texas A&M", "Missouri", "Florida State"]

E_2018 = ["Villanova", "Butler", "St. Bonaventure", "Murray State", "Marshall", "Stephen F. Austin", "Cal State Fullerton", 
         "Radford", "Purdue", "Texas Tech", "Wichita State", "West Virginia", "Florida", "Arkansas", "Virginia Tech", "Alabama"]

S_2018 = ["Virginia", "Texas", "Loyola (IL)", "Davidson", "Buffalo", "Wright State", "Georgia State", "UMBC", "Cincinnati", "Tennessee", 
          "Arizona", "Kentucky", "Miami (FL)", "Nevada", "Creighton", "Kansas State"]

M_2018 = ["Kansas", "Oklahoma", "Syracuse", "New Mexico State", "Charleston", "Bucknell", "Iona", "Pennsylvania", "Duke", 
          "Michigan State", "Auburn", "Clemson", "TCU", "Rhode Island", "Seton Hall", "North Carolina State"]

W_2018 = ["Xavier", "Providence", "San Diego State", "South Dakota State", "UNC Greensboro", "Montana", "Lipscomb", "Texas Southern", 
          "North Carolina", "Michigan", "Gonzaga", "Ohio State", "Houston", "Texas A&M", "Missouri", "Florida State"]