In [2]:
import pandas as pd
import csv
import numpy as np
import math
import time
import matplotlib.pyplot as plt

import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import train_test_split
from sklearn import svm
from sklearn.svm import SVC
from sklearn import linear_model
from sklearn import tree
from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import classification_report
from sklearn.svm import LinearSVC


from keras.models import Sequential

/Users/crossland/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/crossland/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
Using TensorFlow backend.

In [3]:
Collin_STATS = pd.read_csv('STATS.csv')
Collin_STATS.head()

,team,w_l,wins,losses,win_loss_pct,offensive_opp_pts,offensive_opp_ppg,defensive_opp_pts,defensive_opp_ppg,total_field_goals_made,...,total_assists,total_turnovers,turnover_ratio,total_blocks,total_block_pct,total_rebounds,average_rebounds,total_opp_rebounds,average_opp_rebounds,reb_margin
0,Incarnate Word,24-Jun,6,24,20.0,1992,66.4,2274,75.8,691,...,345,487,0.71,51,1.7,822,27.4,930,31.0,-3.6
1,Hofstra,25-6,25,6,80.6,2613,84.3,2246,72.5,896,...,447,304,1.47,102,3.3,1038,33.5,1006,32.5,1.0
2,Central Conn. St.,20-Nov,11,20,35.5,2205,71.1,2367,76.4,754,...,353,427,0.83,110,3.5,1108,35.7,1103,35.6,0.2
3,Hampton,15-16,15,16,48.4,2531,81.6,2380,76.8,860,...,435,334,1.30,110,3.5,1194,38.5,1184,38.2,0.3
4,South Dakota St.,24-7,24,7,77.4,2640,85.2,2267,73.1,930,...,466,365,1.28,58,1.9,1183,38.2,1026,33.1,5.1

In [4]:
Collin_STATS.columns

Index(['team', 'w_l', 'wins', 'losses', 'win_loss_pct', 'offensive_opp_pts',
       'offensive_opp_ppg', 'defensive_opp_pts', 'defensive_opp_ppg',
       'total_field_goals_made', 'total_field_goals_att',
       'total_field_goals_pct', 'total_three_points_made',
       'total_three_points_att', 'total_three_points_pct',
       'total_free_throws_made', 'total_free_throw_att',
       'total_free_throw_pct', 'total_steals', 'steal_pct', 'total_assists',
       'total_turnovers', 'turnover_ratio', 'total_blocks', 'total_block_pct',
       'total_rebounds', 'average_rebounds', 'total_opp_rebounds',
       'average_opp_rebounds', 'reb_margin'],
      dtype='object')

In [6]:
team_conference = pd.read_csv('team_conference_with_id.csv')
team_conference.head()

,team_market,team_name,team_id,conference_name,conference_id
0,Utah,Utes,0d037a5d-827a-44dd-8b70-57603d671d5d,Pacific 12,04d5255d-b2dc-43df-9fa8-d296b0f8ccd7
1,Oregon,Ducks,1da70895-f77f-44ef-b216-d63c02e696eb,Pacific 12,04d5255d-b2dc-43df-9fa8-d296b0f8ccd7
2,Washington State,Cougars,2d4f0015-adb4-4877-8c15-4a6eed7eed03,Pacific 12,04d5255d-b2dc-43df-9fa8-d296b0f8ccd7
3,USC,Trojans,3a000455-de7c-4ca8-880e-abdce7f21da9,Pacific 12,04d5255d-b2dc-43df-9fa8-d296b0f8ccd7
4,Oregon State,Beavers,532d3874-b4b3-4c5c-acc6-749a6db26c8f,Pacific 12,04d5255d-b2dc-43df-9fa8-d296b0f8ccd7